[submodule "use"]
	path = use
	url = git@gitee.com:whl1729/use.git
[submodule "apue"]
	path = apue
	url = git@gitee.com:whl1729/apue.git
[submodule "webglpg"]
	path = webglpg
	url = git@gitee.com:whl1729/webglpg.git
[submodule "refactoring"]
	path = refactoring
	url = git@gitee.com:whl1729/refactoring.git
[submodule "mysql-must-know"]
	path = mysql-must-know
	url = git@gitee.com:whl1729/mysql-must-know.git
[submodule "play-webpack"]
	path = play-webpack
	url = git@gitee.com:whl1729/play-webpack.git
[submodule "eslint-demo"]
	path = eslint-demo
	url = git@gitee.com:whl1729/eslint-demo.git
[submodule "vuejs-guide"]
	path = vuejs-guide
	url = git@gitee.com:whl1729/vuejs-guide.git
[submodule "go-tutorial"]
	path = go-tutorial
	url = git@gitee.com:whl1729/go-tutorial.git
[submodule "you-dont-know-js"]
	path = you-dont-know-js
	url = git@gitee.com:whl1729/you-dont-know-js.git
[submodule "3-easy-pieces"]
	path = 3-easy-pieces
	url = git@gitee.com:whl1729/3-easy-pieces.git
[submodule "fluent-python"]
	path = fluent-python
	url = git@gitee.com:whl1729/fluent-python.git
