[submodule "use"]
	path = use
	url = git@github.com:whl1729/use.git
[submodule "apue"]
	path = apue
	url = git@github.com:whl1729/apue.git
[submodule "webglpg"]
	path = webglpg
	url = git@github.com:whl1729/webglpg.git
[submodule "refactoring"]
	path = refactoring
	url = git@github.com:whl1729/refactoring.git
[submodule "mysql-must-know"]
	path = mysql-must-know
	url = git@github.com:whl1729/mysql-must-know.git
[submodule "play-webpack"]
	path = play-webpack
	url = git@github.com:whl1729/play-webpack.git
[submodule "eslint-demo"]
	path = eslint-demo
	url = git@github.com:whl1729/eslint-demo.git
[submodule "vuejs-guide"]
	path = vuejs-guide
	url = git@github.com:whl1729/vuejs-guide.git
[submodule "go-tutorial"]
	path = go-tutorial
	url = git@github.com:whl1729/go-tutorial.git
